{% extends 'blog/base.html' %}


    {% block content %}
    <!-- breadcrumb-section - start
    ================================================== -->
    <div id="breadcrumb-section" class="breadcrumb-section mma-container clearfix">
      <div class="overlay-black" style="background-color: #ffffff; height: 200px;"></div>
    </div>
    <!-- breadcrumb-section - end
    ================================================== -->



    <!-- blog-details-section - start
    ================================================== -->
    <section id="blog-details-section" class="blog-details-section clearfix">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-9 col-md-10 col-sm-12">
            <div class="blog-details-content pb-0 clearfix">

              <h2 class="blog-title mb-30">{{ post.title }}</h2>
              <div class="post-meta ul-li mb-30 clearfix">
                <ul class="clearfix">
                  {% for a in post.authors.all %}
                  <li>
                    <a href="#!" class="post-admin">
                      <span class="admin-image"><img src="assets/images/meta/img-1.jpg" alt="image_not_found"></span>
                      {{ a }}
                    </a>
                  </li>
                  {% endfor %}
                  <li><i class="uil uil-stopwatch"></i>{{ post.publish_date }}</li>
                </ul>
              </div>

              <div class="tag-share-links mb-100 clearfix">
                <div class="row">

                  <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="tag-links ul-li float-left clearfix tags">
                      <span class="title-text" style="padding-bottom: 0; margin-bottom: 0;">tags:</span>
                      <ul class="clearfix post-content" style="padding-bottom: 0;">
                        {{ tags|safe }}
                      </ul>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="share-links ul-li float-right clearfix">
                      <span class="title-text">share</span>
                      <ul class="clearfix">
                        <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#!"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>

                {{ post.content|safe }}



              <!-- About authors -->
              <div class="post-meta ul-li mb-30 clearfix">
                    <ul class="clearfix">
                      {% for a in post.authors.all %}
                      <li>
                        <a href="#!" class="post-admin">
                          <span class="admin-image"><img src="assets/images/meta/img-1.jpg" alt="image_not_found"></span>
                          {{ a }}
                        </a>
                      </li>
                      {% endfor %}
                      <li><i class="uil uil-stopwatch"></i> 5 Hours ago</li>
                    </ul>
                  </div>

              <p class="mb-60">
                Most improve you Digital Marketing <a href="#!"><u>selling Campaign</u></a> this is is important for our ability to learn from mistakes, but it alsogive rise to self-criticism, because it is part of the threat-protection system in theme other wordsImprove you Digital Marketing selling.
              </p>

              <!-- // end about author -->
              <!-- <div class="peoples-comments mb-100">
                <h3 class="title-text mb-60">Comments(03)</h3>
                <div class="comment-item">
                  <div class="hero-image">
                    <img src="assets/images/meta/img-2.jpg" alt="image_not_found">
                  </div>
                  <div class="comment-content">
                    <div class="hero-info">
                      <h4 class="hero-name">Cristina Perry</h4>
                      <span class="comment-time">5 hours ego</span>
                      <button type="button" class="reply-btn">reply</button>
                    </div>
                    <p class="paragraph-text mb-0">
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea all commodalo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse caerer illum dolore eu fugiat nulla
                    </p>
                  </div>
                  <div class="comment-item">
                    <div class="hero-image">
                      <img src="assets/images/meta/img-3.jpg" alt="image_not_found">
                    </div>
                    <div class="comment-content">
                      <div class="hero-info">
                        <h4 class="hero-name">johan oblak</h4>
                        <span class="comment-time">2 hours ego</span>
                        <button type="button" class="reply-btn">reply</button>
                      </div>
                      <p class="paragraph-text mb-0">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea all commodalo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse caerer illum dolore eu fugiat nulla
                      </p>
                    </div>
                  </div>
                </div>
                <div class="comment-item">
                  <div class="hero-image">
                    <img src="assets/images/meta/img-4.jpg" alt="image_not_found">
                  </div>
                  <div class="comment-content">
                    <div class="hero-info">
                      <h4 class="hero-name">Frida Finto</h4>
                      <span class="comment-time">5 hours ego</span>
                      <button type="button" class="reply-btn">reply</button>
                    </div>
                    <p class="paragraph-text mb-0">
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea all commodalo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse caerer illum dolore eu fugiat nulla
                    </p>
                  </div>
                </div>
              </div>

              <div class="comment-form">
                <h3 class="title-text mb-60">leave a cumment</h3>
                <div class="row">

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-item">
                      <input type="text" placeholder="your name">
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-item">
                      <input type="email" placeholder="your email">
                    </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-item">
                      <input type="text" placeholder="enter website">
                    </div>
                    <div class="form-textarea">
                      <textarea placeholder="write message"></textarea>
                    </div>
                    <button type="submit" class="custom-btn">send message</button>
                  </div>

                </div>
              </div> -->

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- blog-details-section - end
    ================================================== -->


    {% endblock %}
